.notibell {
    color: #ffffff;
    position: absolute;
    top: 20px; 
    transform: translate(-50%, -50%)
}

/* Responsive styles */

@media screen and (min-width: 990px) and (max-width: 1040px) {
    .notibell {
        top: 20px;
    } 
}
  
@media screen and (max-width: 990px) {
    .notibell {
        top: 55px;
    } 
}